<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    <requiredRuntime version="v4.0.20506"/>

  </startup>
  <appSettings>
    <add key="conectionString" value="D:\\uni\\2018-2019\\KHOALUANTOTNGHIEP\\Project PRDB\\PRDB_Sqlite\\PRDB_Sqlite.Presentation\\CLINIC DATABASE.pdb"/>
    <add key="defaultDbService" value="Raw"/>
    <add key="defaultConectionString" value=""/>
    <add key="devmode" value="20"/>
  </appSettings>
</configuration>